packages/__pycache__/ui_welcome7.cpython-39.pyc
packages/__pycache__/controller.cpython-39.pyc
packages/__pycache__/ui_welcome3.cpython-39.pyc
packages/__pycache__/ui_welcome.cpython-39.pyc
packages/__pycache__/ui_welcome5.cpython-39.pyc
packages/__pycache__/ui_welcome2.cpython-39.pyc
packages/__pycache__/ui_welcome4.cpython-39.pyc
packages/__pycache__/ui_user_menu1.cpython-39.pyc
packages/__pycache__/__init__.cpython-39.pyc
packages/__pycache__/mainwindow.cpython-39.pyc
packages/__pycache__/ui_welcome6.cpython-39.pyc
